// Pills
// -------------------------
.nav-minimal
  letter-spacing: 0.15em
  > li
    float: left

    // Links rendered as pills
    > a
      color: $que-gray-light
      padding-left: 6px
      padding-right: 6px
      &,
      &:hover,
      &:focus
        background-color: transparent

    + li
      margin-left: 2.0em

    // Active state
    &.active > a
      &,
      &:hover,
      &:focus
        color: $que-nav-minimal-active-link-hover-color
        border-bottom: solid 2px $que-nav-minimal-active-link-hover-color
