$gray-base:              #000 !default;
$que-main-color: rgb(45, 179, 240)
$link-color: $que-main-color
$que-font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif
$que-nav-minimal-active-link-hover-color: $que-main-color
$que-table-contents-font-size: 14px
$que-gray-light:           lighten($gray-base, 50.0%) !default; // #eee
$que-gray-lighter:           lighten($gray-base, 70.0%) !default; // #eee
$navbar-margin-bottom: 0px
$navbar-height: 70px
$table-cell-padding: 20px
$border-radius-base:        2px
$border-radius-large:       2px
$border-radius-small:       2px
$link-hover-decoration: none
$headings-font-weight:    normal
