doctype html
html(lang="en")
  head
    title
    link(rel="stylesheet",type="text/css",href="./assets/styles/application.css")
    link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400",rel="stylesheet",type="text/css")
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href="#")
            | Que
    header.que-page-header
      .container
        ul.nav.nav-minimal
          li.active
            a(href="#") Recent Queries
          li
            a(href="#") Saved Queries
          li
            a(href="#") Draft Queries
    script(src="./assets/scripts/application.js")
