doctype html
html(lang="en")
  head
    title
    link(rel="stylesheet",type="text/css",href="./assets/styles/application.css")
    link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400",rel="stylesheet",type="text/css")
  body
    nav.navbar
      .container
        .navbar-header
          a.navbar-brand(href="#")
            | Que
    header.que-page-header.que-page-header-higher
      .container
        ul.nav.nav-minimal
          li.active
            a(href="#") Recent queries
          li
            a(href="#") Saved queries
          li
            a(href="#") Draft queries
          li.pull-right
            .que-page-header-right
              a.btn.btn-primary(href="./write.html") Write a query
    .container.que-contents
      table.table.que-table
        thead
          tr
            td Query
            td Status
            td Started
            td Duration
            td Output
        tbody
          - for (var i = 0; i < 10; i++)
            tr
              td SELECT * FROM UserData WHERE RegistDateTime >= "2015-01-01 00:00:00"
              td
                span.label.label-que-default COMPLETE
              td 2015/04/17 18:33:27
              td 280.27ms
              td
                a.btn.btn-default.btn-xs Download CSV
    script(src="./assets/scripts/application.js")
