doctype html
html(lang="en")
  head
    title
    link(rel="stylesheet",type="text/css",href="./assets/styles/application.css")
    link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400",rel="stylesheet",type="text/css")
  body
    nav.navbar
      .container
        .navbar-header
          a.navbar-brand(href="./index.html")
            | Que
    header.que-page-header.que-page-header-higher
      .container
        ul.nav.nav-minimal
          li
            a(href="./index.html") Recent queries
          li.active
            a(href="./savedQueries.html") Saved queries
          li
            a(href="#") Draft queries
          li.pull-right
            .que-page-header-right
              a.btn.btn-primary(href="./write.html") Write a query
    .container.que-contents
      table.table.que-table
        thead
          tr
            td Name
            td Description
            td Query
            td Saved
        tbody
          - for (var i = 0; i < 10; i++)
            tr
              td
                | user3/5~
              td
                | Users who have membership registration in May or later
              td SELECT * FROM UserData WHERE RegistDateTime >= "2015-01-01 00:00:00"
              td 2015/04/20 01:50:30
    script(src="./assets/scripts/application.js")
