doctype html
html(lang="en")
  head
    title
    link(rel="stylesheet",type="text/css",href="./assets/styles/application.css")
    link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400",rel="stylesheet",type="text/css")
  body
    nav.navbar
      .container
        .navbar-header
          a.navbar-brand(href="./index.html")
            | Que
    header.que-page-header
      .container
        .row.que-row
          .col-md-6
            h1 Write a query
          .col-md-6.text-right.que-page-header-actions
            a.btn.btn-default(href="./write.html") Save query
            a.btn.btn-primary(href="./write.html") Run query
    .container.que-contents.que-contents-editor
      #editor
    header.que-page-header.que-page-header-non-padding-bottom
      .container
        ul.nav.nav-minimal
          li.active
            a(href="#") Recent queries
          li
            a(href="#") Saved queries
          li
            a(href="#") Draft queries
          li.pull-right
            a(href="#") Table finder
          li.pull-right
            a(href="#") Messages
    .container.que-contents.que-contents-non-padding
      table.table.que-table
        thead
          tr
            td Query
            td Status
            td Started
            td Duration
            td Output
        tbody
          - for (var i = 0; i < 10; i++)
            tr
              td SELECT * FROM UserData WHERE RegistDateTime >= "2015-01-01 00:00:00"
              td
                span.label.label-que-default COMPLETE
              td 2015/04/17 18:33:27
              td 280.27ms
              td
                a.btn.btn-default.btn-xs Download CSV
    script(src="./assets/scripts/application.js")
    script(src="./assets/scripts/ace-builds/ace.js")
    script(src="./assets/scripts/ace-builds/mode-sql.js")
    script.
      var editor = ace.edit("editor")
      var SqlMode = ace.require("ace/mode/sql").Mode;
      editor.getSession().setMode(new SqlMode());
