$navbar-margin-bottom: 0px
$navbar-height: 70px
$table-cell-padding: 20px
@import bootstrap
@import que/variables
@import que/fonts
@import que/labels
@import que/navs
@import que/navbar
@import que/tables
@import que/type

body
  letter-spacing: 0.30em
  -webkit-font-smoothing: subpixel-antialiased;
.que-page-header
  position: relative
  background-color: #eff6f6
  padding-top: 10px
  padding-bottom: 10px
  &.que-page-header-higher
    padding-top: 60px
    padding-bottom: 0px
.que-page-header-right
.que-page-header-actions
  a + a
    margin-left: 1.0em

.que-contents
  padding-top: 40px
.que-contents-editor
  padding-top: 0px
  height: 600px

#editor
  position: relative
  width: 100%
  height: 400px
  letter-spacing: 0.0em
  font-size: 18px

